In [ ]:
# Print is used to see some answers
# In jupyter notebook we no need to provide print statement in order to see answer
# If more than two answers are there we can check all answers using print statment

In [1]:
a=10
a

10

In [2]:
print(a)

10

In [3]:
a=10
b=20
a
b

20

In [4]:
a=10
b=20
print(a)
print(b)

10
20

In [5]:
print(10)
print(10,20)
print('python')
print(10,20,'python')

10
10 20
python
10 20 python

In [7]:
num1=20
num2=30
add=num1+num2
print(num1+num2)
print(add)
print(add=num1+num2)  # Not works
# the addition of 20 and 30 is 50

50
50

TypeError: 'add' is an invalid keyword argument for print()

In [23]:
num1=200
num2=30
add=num1+num2
print("the addition of",num1,'and',num2,'is',add)

the addition of 200 and 30 is 230

In [35]:
name='python'
age=10
city='hyd'
# hello my name is python, im 10 years old from hyd
print("hello my name is",name,',','im',age,'years old from',city)

hello my name is python , im 10 years old from hyd

**format**

In [33]:
num1=200
num2=300
add=num1+num2
print("the addition of",num1,'and',num2,'is',add)
print("the addition of {} and {} is {}".format(num1,num2,add))

the addition of 200 and 300 is 500
the addition of 200 and 300 is 500

- First decide how the print statement should be

- Then replace the variables postition as curly braces

- Then apply .format method

In [38]:
num1=200
num2=300
add=num1+num2
print("the addition of {} , {} is: {}".format(num1,num2,add))

the addition of 200 , 300 is: 500

In [41]:
name='python'
age=10
city='hyd'
print("hello my name is python, im 10 years old from hyd")
print("hello my name is {}, im {} years old from {}".format(city,age,name))

hello my name is python, im 10 years old from hyd
hello my name is hyd, im 10 years old from python

In [50]:
num1=100
num2=22
num3=30
avg=(num1+num2+num3)/3

print("the average of num1 ,num2 and num3 is : avg")
print("the average of {},{} and {} is :{}".format(num1,num2,num3,avg))

the average of num1 ,num2 and num3 is : avg
the average of 100,22 and 30 is :50.666666666666664

**round**

In [57]:
val=125.6789
round(val,2)

125.68

In [ ]:
n1=5
n2=10
n3=15
avg= (n1+n2+n3/3)
print('The average of {} and {} aand {} is {}'.format(n1,n2,n3,avg))

In [60]:
num1=100
num2=22
num3=30
avg=(num1+num2+num3)/3
avg1=round(avg,2)

print("the average of num1 ,num2 and num3 is : avg")
print("the average of {},{} and {} is :{}".format(num1,num2,num3,avg1))

the average of num1 ,num2 and num3 is : avg
the average of 100,22 and 30 is :50.67

In [61]:
n1=5
n2=10
n3=15
avg= (n1+n2+n3)/3
print('The average of {} and {} mariyu {}  is {}'.format(n1,n2,n3,avg))

The average of 5 and 10 mariyu 15  is 10.0

**f string method**

- variables should be inside curly braces

- and write everything inside quotes

- at starting simply add f

In [66]:
num1=200
num2=300
add=num1+num2
print(f"the addition of {num1} , {num2} is: {add}")

the addition of 200 , 300 is: 500

In [67]:
num1=100
num2=200
num3=300
avg=(num1+num2+num3)/3
print ("the average of {},{} and {} is {}".format(num1,num2,num3,avg))

the average of 100,200 and 300 is 200.0

f string method is the best method for realtime

In [70]:
num1=100
num2=200
num3=300
avg=(num1+num2+num3)/3
print (f"the average of {num1},{num2} and {num3} is {avg}")

the average of 100,200 and 300 is 200.0

In [72]:
print(f"hello my name is,{name},im,{age},years old from,{city}")

hello my name is,python,im,10,years old from,hyd

In [ ]:
num1=200
num2=30
add=num1+num2
print("the addition of",num1,'and',num2,'is',add)

num1=200
num2=300
add=num1+num2
print("the addition of {} , {} is: {}".format(num1,num2,add))

num1=200
num2=300
add=num1+num2
print(f"the addition of {num1} , {num2} is: {add}")

**end**

In [76]:
print('hello',end=' ')  # 1
print('good morning') # 2   

# hello good morning

hello good morning

In [83]:
print(1,end=' ')
print(2,end=' ')
print(3)

# 1 2 3

1@2python3

**sep**

- One print statement only

- In side one print statement we have multiple values

- I want to seperate these multiple values with anything

In [86]:
print("hello","hai",sep=' ')
# hello & hai

hello hai

In [89]:
print(3,'.')

3 .

In [92]:
print(3,'.',sep='')

3.

- format

- f

- end

   - multiple print statments

- sep

  - single print, multiple values

In [101]:
print(1,2,3,'.')

1 2 3 .

In [106]:
print(1,2,3,'.',sep='')

1,2,3,.

In [105]:
print(1,2,end=' ')
print(3,'.',sep='')

1 2 3.