**Dictionary**

- Dictionary is represents with curly braces

- strings using quotes

- list using square brackets

- type using parnathses

- Dictionary is alway a pair key and value

In [1]:
name=['Manish','Shubam','Govindh']
age=[25,20,15]
for i,j in zip(name,age):
    print(f"the {i} age is {j}")

the Manish age is 25
the Shubam age is 20
the Govindh age is 15

In [2]:
#{<key>:<value>}
dict1={'Manish':25,'Shubam':20,'Govindh':15}
dict1

{'Manish': 25, 'Shubam': 20, 'Govindh': 15}

In [ ]:
# keys are : 'Manish','Shubam','Govindh'
# value are : 25,20,25
# Manish and 25 together

In [3]:
type(dict1)

dict

In [ ]:
Quotes for 25??

In [ ]:
d1={'Manish':25,'Shubam':20,'Govindh':15}
d2={'Manish':'25','Shubam':'20','Govindh':'15'} 
d3={25:'Manish',20:'Shubam',15:'Govindh'} 
d4={25:50} 
d5={'Fruites':['Apple','Cherry']} 
d6={['Apple','Cherry']:'Fruites'} 
d7={'Ajay':25,'Ajay':30}
d8={25:'Ajay',30:'Ajay'}

In [4]:
d1={'Manish':25,'Shubam':20,'Govindh':15}
d1

{'Manish': 25, 'Shubam': 20, 'Govindh': 15}

In [5]:
d2={'Manish':'25','Shubam':'20','Govindh':'15'}
d2

{'Manish': '25', 'Shubam': '20', 'Govindh': '15'}

In [6]:
d3={25:'Manish',20:'Shubam',15:'Govindh'}
d3

{25: 'Manish', 20: 'Shubam', 15: 'Govindh'}

In [7]:
d4={25:50} 
d4

{25: 50}

In [8]:
d5={'Fruites':['Apple','Cherry']} 
d5

{'Fruites': ['Apple', 'Cherry']}

In [9]:
d6={['Apple','Cherry']:'Fruites'}
d6

TypeError: unhashable type: 'list'

In [10]:
d7={('Apple','Cherry'):'Fruites'}
d7

{('Apple', 'Cherry'): 'Fruites'}

In [11]:
d7={'Ajay':25,'Ajay':30}
d7

{'Ajay': 30}

In [12]:
d8={25:'Ajay',30:'Ajay'} 
d8

{25: 'Ajay', 30: 'Ajay'}

In [13]:
d9={25:'Ajay',30:
    {'Fruites':['Apple']}
   } 
d9

{25: 'Ajay', 30: {'Fruites': ['Apple']}}

- **keys are important**

- Keys have only latest value

- No duplicate keys

- Keys should be only one 

- Values can be duplicate 

- which means different keys can have same value

- List can not be a key

- tuple can be a key

In [ ]:
- min

- max

- len

- sorted

- reveresd

In [ ]:
from sklearn.pre import

In [14]:
import random
dir(random)

['BPF',
 'LOG4',
 'NV_MAGICCONST',
 'RECIP_BPF',
 'Random',
 'SG_MAGICCONST',
 'SystemRandom',
 'TWOPI',
 '_ONE',
 '_Sequence',
 '_Set',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_accumulate',
 '_acos',
 '_bisect',
 '_ceil',
 '_cos',
 '_e',
 '_exp',
 '_floor',
 '_index',
 '_inst',
 '_isfinite',
 '_log',
 '_os',
 '_pi',
 '_random',
 '_repeat',
 '_sha512',
 '_sin',
 '_sqrt',
 '_test',
 '_test_generator',
 '_urandom',
 '_warn',
 'betavariate',
 'choice',
 'choices',
 'expovariate',
 'gammavariate',
 'gauss',
 'getrandbits',
 'getstate',
 'lognormvariate',
 'normalvariate',
 'paretovariate',
 'randbytes',
 'randint',
 'random',
 'randrange',
 'sample',
 'seed',
 'setstate',
 'shuffle',
 'triangular',
 'uniform',
 'vonmisesvariate',
 'weibullvariate']

**indexing**

In [1]:
d1={'Manish':25,'Shubam':20,'Govindh':15}
d1[0]

KeyError: 0

In [2]:
d1={'Manish':25,'Shubam':20,'Govindh':15}
d1['Manish']

25

**Keys are important**

- Dictionary is a **key-value** pair

- There is no concept of index as numbers

- If you want to retrive any value , we need to provide key as index

- we can access values using only corresponding **keys**

In [3]:
d1={'Manish':25,'Shubam':20,'Govindh':15}
print(d1['Manish'])
print(d1['Shubam'])
print(d1['Govindh'])

print(d1[i])

25
20
15

In [6]:
for i in d1:
    print(i,d1[i])

Manish 25
Shubam 20
Govindh 15

In [7]:
for i in d1:
    print(f"{i} age is {d1[i]}")

Manish age is 25
Shubam age is 20
Govindh age is 15

In [9]:
# How to access elements
d1={'Fruites':['Apple']}
d1['Fruites'][0]

'Apple'

In [10]:
d1={'Fruites':{"Apple":['Kashmir']}}
d1

{'Fruites': {'Apple': ['Kashmir']}}

In [13]:
len(d1)

1

In [16]:
d1['Fruites']['Apple'][0]

'Kashmir'

In [17]:
d1={'Fruites':{"Apple":[
                     {'Kashmir':'india'},
                     {'Hyd':'TS'}
                     ]
               }
   }
d1

{'Fruites': {'Apple': [{'Kashmir': 'india'}, {'Hyd': 'TS'}]}}

In [23]:
d1['Fruites']['Apple'][0]['Kashmir']

'india'

In [25]:
d1['Fruites']['Apple'][1]['Hyd']

'TS'

In [27]:
d1={'Fruites':{'Mango':{'Benganpalli':{'Nagpur market':{'MH':{'Shivaji':'the boss'}}}}}}
d1

{'Fruites': {'Mango': {'Benganpalli': {'Nagpur market': {'MH': {'Shivaji': 'the boss'}}}}}}

In [33]:
d1['Fruites']['Mango']['Benganpalli']['Nagpur market']['MH']['Shivaji']

'the boss'

In [34]:
len(d1)

1

**How to create empty dictionary**

- it is very important to know how to make empty list

- how to make empty string

- how to make empty dictionary

In [35]:
str1='python'
str2=''
for i in str1:
    str2=str2+i      # str2+=i
str2

'python'

In [36]:
l1=[1,2,3,4]
l2=[]
for i in l1:
    l2.append(i)

l2

[1, 2, 3, 4]

In [40]:
d={}
d['Ramesh']=50
d['Suresh']=100
d['Sathish']=150
d['Manish']=200
d

{'Ramesh': 50, 'Suresh': 100, 'Sathish': 150, 'Manish': 200}

**Convert string to list**

In [42]:
# split: convert string to list
str1='hai how are you'
l=str1.split()
l

['hai', 'how', 'are', 'you']

**join: convert list to string**

In [49]:
l=['hai', 'how', 'are', 'you']
new_str=' '.join(l)
new_str

'hai how are you'

**we have two lists to convert into dictonary**

In [51]:
name=['Ramesh','Suresh','Manish']
age=[25,30,35]
d={}
for i,j in zip(name,age):
    d[i]=j

d

{'Ramesh': 25, 'Suresh': 30, 'Manish': 35}

**Methods**

In [54]:
#dir('') # string
#dir([]) # list
#dir({}) # dict
#dir(()) # tuple

In [55]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

**items-keys-values**

- items means both keys and values come together

- keys means only dictionary keys

- values means only dictionary values

In [59]:
d={'Ramesh': 50, 'Suresh': 100, 'Sathish': 150, 'Manish': 200}
it=d.items()
it

dict_items([('Ramesh', 50), ('Suresh', 100), ('Sathish', 150), ('Manish', 200)])

In [60]:
type(it)

dict_items

In [62]:
items_list=list(it)

In [ ]:
int()
float()
str()
list()

In [63]:
items_list

[('Ramesh', 50), ('Suresh', 100), ('Sathish', 150), ('Manish', 200)]

In [68]:
name=[]
age=[]
for i in items_list:
    name.append(i[0])
    age.append(i[1])
name

['Ramesh', 'Suresh', 'Sathish', 'Manish']

**Create a list using items**

In [ ]:
d={'Ramesh': 50, 'Suresh': 100, 'Sathish': 150, 'Manish': 200}
it=d.items() # items
items_list=list(it) # list type
name=[]
age=[]
for i in items_list:
    name.append(i[0])
    age.append(i[1])
name

In [74]:
import string
dir(string)
string.ascii_lowercase

# step-1: create lowercase letters list using string package
# step-2: create a digits list 1 to 26
# step-3: create a dictionary {'a':1,'b':2,....'z':26}
# step-4: enter a string: hai
# step-5: output:  8-1-9

'0123456789'

In [ ]:
# Methods of the dictionary