- Lambda function also a function 

- It is a kind of a single line function

- we already seen list comprehension which means single line

- lambda functions give a flexibility to stop writing many lines

- on iterative execution it will save the timing

In [2]:
def summ(num):
    return(num+10)

summ(20)

30

$pattern-1$

- function name

- variable name

- return output

In [ ]:
#<function_name>= lambda <variable_name>: <return_output>

In [3]:
summ=lambda num : num+10
summ(30)

40

In [4]:
def cube(x):
    return(x*x*x)
cube(10)

1000

In [5]:
cube = lambda x : x*x*x
cube(20)

8000

$pattern-2$

**Two arguments**

In [6]:
def add(n1,n2):
    return(n1+n2)

add(10,20)

30

In [ ]:
#<function name>=lambda <arg1>,<arg2>: <output>

In [8]:
add=lambda n1,n2:n1+n2
add(10,20)

30

In [9]:
avg=lambda n1,n2,n3 : (n1+n2+n3)/3
avg(10,20,30)

20.0

In [13]:
avg=lambda n1,n2,n3 : round((n1+n2+n3)/3,2)
avg(10,22,300)

110.67

$pattern-3$

**Default arguments**

In [ ]:
def avg(n1,n2,n3=100)

In [17]:
avg=lambda n1,n2,n3=100 : round((n1+n2+n3)/3,2)
avg(10,20)

43.33

$Patterns-4$

**if**

In [18]:
def greet(n1):
    if n1>10:
        return("hello")
greet(20)

'hello'

In [ ]:
# In the list comprehension
#[<if_out> <if condition> <else>  <else_output> <forloop>]

# No for loop

# <fun_name>= lambda <arg1>: <if_out> <if_condition> <else> <else_output>

In [21]:
greet= lambda n1 : 'hello' if n1>10 else 'bye'
greet(10)

'bye'

In [23]:
# wap lambda function to identidy the greatet number between two numbers

maxx=lambda n1,n2: f"{n2} is greater" if n2>n1 else f"{n1} is greater"
maxx(10,20)

'20 is greater'

$Pattern-5$

**using list**

In [ ]:
list1=['hyd','blr','chennai']
# op=list2=['Hyd','Blr','Chennai']

'hi how are you' ==== > 'Hi How Are You' # Title
                ===== > 'Hi how are you' # Capitalize
                ====== > 'HI HOW ARE YOU' # Upper
                ====== > 'hi how are you' # Lower
                ====== > '***hi how are you**' # Center

#Really serious concern
# Call to me 
# i dont know(100)   i forgot(50)

In [25]:
list1=['hyd','blr','chennai']
# op=list2=['Hyd','Blr','Chennai']
list2=[]
for i in list1:
    list2.append(i.capitalize())

list2

['Hyd', 'Blr', 'Chennai']

In [ ]:
- what is the variable name ==== > i

- what is the return output ==== > i.capitalize()

- from where it is coming ====== > list1

lambda <variable name> : <output>,<iterable>

strings are iterables

list are iterable

we can iterate using for loop

In [27]:
# lambda <variable name> : <output>,<iterable>
lambda i : i.capitalize(),list1

(<function __main__.<lambda>(i)>, ['hyd', 'blr', 'chennai'])

In [28]:
(10,20)

(10, 20)

**map**

In [30]:
list(map(lambda i : i.capitalize(),list1))

['Hyd', 'Blr', 'Chennai']

In [33]:
# step-1: create a normal lambda function
#         lambda <arg>: <output>
# step-2:  add the iterable 
#         lambda <arg>: <output>,<list>
# step-3:  map the both function and list
#         map(lambad <arg>: <outpu>,<list>)
# Step-4:  save the result in a list or tuple
#         list(map(lambad <arg>: <output>,<list>))

lambda i : i.capitalize # fish
lambda i : i.capitalize,list1 # net
map(lambda i : i.capitalize,list1) # fish ,net
list(map(lambda i : i.capitalize(),list1)) # catch the fish

['Hyd', 'Blr', 'Chennai']

In [34]:
list1 = ['hyd','blr','chennai']
print(list(map(lambda i: i.capitalize(), list1)))
print(list(map(lambda i: i.upper(), list1)))
print(list(map(lambda i: i.lower(), list1)))
print(list(map(lambda i: i.center(10,"*"), list1)))

['Hyd', 'Blr', 'Chennai']
['HYD', 'BLR', 'CHENNAI']
['hyd', 'blr', 'chennai']
['***hyd****', '***blr****', '*chennai**']

In [35]:
list1 = ['hyd','blr','che#nnai','mumb#ai']
# list2=['che#nnai','mumb#ai']
list2=[]
for i in list1:
    if '#' in i:
        list2.append(i)

list2

['che#nnai', 'mumb#ai']

In [38]:
# step-1: whenever you are applying a condition on list
#         write only condition with out using if
lambda i: '#' in i,list1

list(map(lambda i: '#' in i,list1))

[False, False, True, True]

**filter method**

In [39]:
list(filter(lambda i: '#' in i,list1))

['che#nnai', 'mumb#ai']

In [41]:
list1 = ['hyd','blr','chennai','mumbai']
#list2=['hyd','blr'] # len(i)<=3

list(filter(lambda i: len(i)<=3,list1))

['hyd', 'blr']